html {
  overflow-y: scroll;
}

body {
	margin: 0;
	padding: 0;
  font: 18px/1.4 $fontstack-sans;
  @include respond-max(30em) {
    font-size: 16px;
  }
}

h1, h2, h3 {
  font-weight: normal;
  text-transform: uppercase;
}

h1 {

}

h2 {
  font-size: 1.3em;
}

h3 {
  font-size: 1.2em;
}

p {

}

hr {
  border: 0;
  border-top: 0.3em solid $color-brown;
  width: 20%;
  margin: 1em auto;
}

a:link, a:visited {
  color: $color-brown;
}

a:hover, a:focus {
  color: $color-orange;
}