$color-brown: #412929;

$color-orange: #FBB817;
$color-font: #222;

$fontstack-serif: "freight-display-pro", Georgia, "Times New Roman", Times, serif;
$fontstack-sans: "brandon-grotesque", "Helvetica Neue", Arial, sans-serif;
$font-size: 18px;