$color-main: #412929;
$color-highlight: $color-main;
$color-headline: $color-highlight;
$color-font: #222;

$fontstack-tisa: "ff-tisa-web-pro", Georgia, "Times New Roman", Times, serif;
$fontstack-brandon: "brandon-grotesque", "Helvetica Neue", Arial, sans-serif;
$font-size: 18px;