---
layout: default
body-class: event
---
<div class="hero-container">
	<img src="/img/post-header.jpg" alt="Foto vom Publikum beim Webmontag">
	<div class="social-container">
		<a href="{{ page.fb-link }}" class="social social-facebook">Facebook-Veranstaltung</a>
		<a href="{{ page.gplus-link }}" class="social social-gplus">Google+-Veranstaltung</a>
		<a href="{{ page.lanyrd-link }}" class="social social-lanyrd">Lanyrd-Veranstaltung</a>
	</div>
</div>

<div class="l-slice l-vise">
	<h2>{{ page.title }}</h2>

	<table>
		<tr>
			<th>Datum</th>
			<td>
				<time datetime="{{ page.date | %Y-%m-%d %H:%M }}">
         {{ page.date | date: "%d. %B %Y, %H:%M Uhr" | replace:"January","Januar" | replace:"February","Februar" | replace:"March","März" | replace:"May","Mai" | replace:"June","Juni" | replace:"July","Juli" | replace:"October","Oktober" | replace:"December","Dezember" }}</time>
       </td>
    </tr>
    <tr>
			<th>Ort</th>
			<td>{{ page.address }}</td>
    </tr>
    <tr>
			<th>Sponsoren</th>
			<td>{{ page.sponsors }}</td>
    </tr>
    <tr>
			<th>Vorträge</th>
			<td>{{ content }}</td>
    </tr>    
	</table>

</div>

<div class="l-footer l-slice">
  <div class="fb-like" data-href="https://facebook.com/webmontagbremen" data-width="100" data-colorscheme="light" data-show-faces="true" data-send="false"></div>

</div>